@model EmailMessage
@{
    ViewData["Title"] = Model.Subject;

    Layout = "~/Views/Shared/_EmailLayout.cshtml";
}

<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td class="h1 pb25" style="color:#444444; font-family:'Merriweather', Georgia,serif; font-size:35px; line-height:42px; text-align:center; padding-bottom:25px;">@Model.Subject</td>
    </tr>
    <tr>
        <td class="text-center pb25" style="color:#666666; font-family:Arial,sans-serif; font-size:16px; line-height:30px; text-align:center; padding-bottom:25px;">
            @Html.Raw(Model.Body)
        </td>
    </tr>
</table>
